.hero {
  background-image: url("../../images/intro-bg.png");
  background-repeat: no-repeat;
  background-size: 587px 565px;
  background-position: calc(50% + 650px) calc(50% + 38px);
  border-bottom: 2px solid #DDDDDD;
}

.hero__inner {
  padding: 170px 0;
}

.hero__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}

.hero__content {
  display: flex;
  margin-bottom: 30px;
}

  .hero__line {
    background-color: #888;
    border: 1.5px solid #888888;
    margin-right: 40px;
}

.hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #777777;
  width: 100%;
  max-width: 450px;
  margin: 0;
}

.hero__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 12px 38.5px;
  background: #EA625C;
  text-decoration: none;
}

@include max-width(520px, 320px) {
  .hero__inner {
    padding-top: 470px;
  }

  .hero {
    background-size: 392px 378px;
    background-position: calc(50% + 130px) calc(50% - 194px);
  }
}